[Unit]
Description=Main Service
After=network.target

[Service]
Type=simple
ExecStart=/home/jeswin-pt8024/mini-project/hostzip/bin/main
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
